*{
    padding:0px;
    margin:0px;
}
header{
    background:#405D99;  
    height: 42px;
    border-bottom: 1px solid #133783;
    color: #FFFF;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
  }
  
  .cont {
    margin-top: 4px; 
    margin-bottom: 15px;
    font-style: italic; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: blanchedalmond;  
    backface-visibility: visible;
}
  main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    text-align: center;
    background: #405D99;  
    backface-visibility: visible;
  }

  .bodyall {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    text-align: center;
    background: blueviolet;  
    backface-visibility: visible;
  }

  #login {
    margin-bottom: 5px;
    border-radius: 8px;
  }

  #pw {
    margin-bottom: 5px;
    border-radius: 8px;
  }

  .bodyall {
    padding-top: 2%;
    padding-bottom: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    text-align: center;
    background: blueviolet;  
    backface-visibility: visible;
  }

  .loginf {
      padding-top: 190px;
      padding-bottom: 10px;
      background-color: rgb(20, 55, 124);
      height: 310px;
      }
      
  .loginf h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: rgb(20,55,124);
    }

    button {
        background-color: #008CBA;
        border: none;
        color: white;
        padding: 1px 2px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 8px;
      }

  .xdlists {
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .logout {
      margin-top:5%;
  }

  .creation {
    padding-top: 2%;
    padding-bottom: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    text-align: center;
    background: blueviolet;  
    backface-visibility: visible;
  }

  .bodyall a{
    background-color: aqua;
    border-radius: 8px;
  }

  .bodyall span{
    background-color: #008CBA;
    border-radius: 8px;
  }

  
  .bodyall input[type="text"]{
    background-color: #008CBA;
    border-radius: 8px;
  }
  footer{
    background-attachment: scroll;
    background:#405D99;  
    height: 42px;
    text-align: center;
    border-bottom: 1px solid #133783;
    color: #FFFF;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
  }
