.contacts {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background:pink;
}
.content{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}
.inContacts{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.create{
  width: 30%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conTact{
  background:gray;
  border: 5px solid #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 30px;
  min-width: 50%;
  margin: 5px;
  color: #000;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.data{
  width: 60%;
  height: 100%;
}
.createInput{
  margin: 10px;
  width: 200px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 3px;
}
.createBtn{
  width: 200px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 3px;
  margin: 10px;
}
.bttns{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 100%;
}
.ids{
  display: inline;
}
.login{
  width: 50px;
  height: 40px;
  background: pink;
}