<!--<app-child [title]="'Title from Parent!'"-->
           <!--[numberArray]="[1,2,3,4,5]"-->
           <!--(output)="output = $event"-->
           <!--(stringArray)="stringArray = $event"-->
<!--&gt;</app-child>-->

<!--OUTPUT STRING:-->
<!--<h3>{{output}}</h3>-->


<!--OUTPUT STRINGS:-->
<!--<div>-->
  <!--<div *ngFor="let s of stringArray">{{s}}</div>-->
<!--</div>-->


<!--SEND MESSAGE BY SERVICE:-->
<!--<div (click)="sendMessageByService()">SEND MESSAGE BY SERVICE</div>-->

<div>{{i}}</div>


CATEGORIES
<ng-container *ngIf="!loading">
  Loading...
</ng-container>

<ng-container *ngIf="loading">
  <div>
    <div *ngFor="let c of categories" (click)="getProducts(c)">{{c.id}} - {{c.name}}</div>
  </div>
</ng-container>

<br/>
PRODUCTS:
<div>
  <div *ngFor="let p of products">{{p.id}} - {{p.name}} - {{p.price}} - {{p.count}}</div>
</div>
