/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/blue-background-with-reflective-lines_-13idtdxs__F0000.png")
}