body {
    margin: 0px auto;
    text-align: center;
    width: 30%;
    height: 80px;
  }
  
  .post-list {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: red;
    border: 2px solid black;
    border-radius: 20px;
  }

  .detailed-info {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: purple;
    border: 2px solid black;
    border-radius: 20px;
  }
  
  
  .button {
    background-color: #555555; 
    border: none;
    color: white;
    padding: 8px 12px;
    margin: 0 0 5px 10px;
    text-align: center;
    text-decoration: none;
    display: flexbox;
    font-size: 16px;
  }
  
  .button:hover, .loginbtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  * {box-sizing: border-box}
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/register button */
  .loginbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }