<h1>CONTACTS</h1>
<div class="main">
  <div class="login">
    <input type="text" [(ngModel)]="username">
    <input type="password" [(ngModel)]="password">
    <button (click)="login()">LOGIN</button>
  </div>
  <div class="posts" *ngIf="loggedIn">
    <div class="post" *ngFor="let post of posts">
      <input (click)="expand()"  [(ngModel)]="post.name">
      <div>{{post.created_at}}</div>
      <div *ngIf="detailed">
        <button>Update</button>
        <button (click)="deletePost(post)">Delete</button>
      </div>
    </div>
  </div>
</div>
