
<ng-container *ngIf="!isLogged">
  <div>
    <div>
      <input type="text" placeholder="Login" [(ngModel)]="login"/>
    </div>
    <div>
      <input type="password" placeholder="Password" [(ngModel)]="password"/>
    </div>
    <div>
      <button (click)="auth()">Log in</button>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="isLogged">
  CREATE CATEGORY:
  <div>
    <input type="text" [(ngModel)]="name" />
    <button (click)="createContact()">Create</button>
  </div>

  CATEGORIES
  <ng-container *ngIf="!loading">
    Loading...
  </ng-container>

  <ng-container *ngIf="loading">
    <div>
      <div *ngFor="let c of contacts">
        <span style="color: blueviolet" (click)="deleteContact(c)"> Delete</span>
        <span style="color: darkred" (click)="updateContact(c)"> Update</span>
      </div>
    </div>
  </ng-container>


  <div>
    <button (click)="logout()">Log out</button>
  </div>

</ng-container>
