
<ng-container *ngIf="!logged">
  <div>
    <div><input type="text" [(ngModel)]="login" /></div>
    <div><input type="text" [(ngModel)]="password" /></div>
    <div> <button (click)="auth()">Log in</button> </div>
  </div>
</ng-container>


<ng-container *ngIf="isLogged">
  CREATE Contact:
  <div>
    <input type="text" [(ngModel)]="name" placeholder="name" />
    <input type="text" [(ngModel)]="phone" placeholder="phone" />
    <button (click)="createContact()">Create</button>
  </div>

  CONTACT
  <ng-container>
    <div>
      <div *ngFor="let p of contacts">
        <input type="text" [(ngModel)]="p.name" placeholder="name" />
        <input type="text" [(ngModel)]="p.phone" placeholder="phone" />
        <span style="color: red" (click)="deleteContact(p)"> DELETE</span>
        <span style="color: yellow" (click)="updateContact(p)"> UPDATE</span>
      </div>
    </div>
  </ng-container>
  <div>
    <button (click)="logout()">Log out</button>
  </div>

</ng-container>
