<!--<app-child [title]="'From parent Component 2'"-->
           <!--[array]="[1,2,3,4,5]"-->
           <!--(subTitle)="subTitle = $event"-->
           <!--(array2)="array2 = $event"></app-child>-->

<!--OUTPUT SUBTITLE:-->
<!--<div>{{subTitle}}</div>-->

<!--OUTPUT ARRAY2-->
<!--<div>-->
  <!--<div *ngFor="let i of array2">{{i}}</div>-->
<!--</div>-->


<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<ng-container *ngIf="!loading">
  Loading...
</ng-container>
<ng-container *ngIf="loading">
  <div>
    <div *ngFor="let c of categories" (click)="getProducts(c)" >{{c.id}} - {{c.name}}</div>
  </div>
</ng-container>

-----------------------------
<div>
  <div *ngFor="let p of products">{{p.id}} - {{p.name}} - {{p.price}} - {{p.count}}</div>
</div>
